:root {
  --primary-box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

.main-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.main-links a {
  margin: 10px;
}

.primary-link {
  border-radius: 5px;
  padding: 20px 15px;
  text-transform: capitalize;
  box-shadow: var(--primary-box-shadow);
}

.about-link {
  border-radius: 5px;
  padding: 20px 15px;
  text-transform: capitalize;
  box-shadow: var(--primary-box-shadow);
}

@media (max-width: 768px) {
  .project-info {
    display: block;
    text-align: center;
  }
}
